NODE_ENV=development

NODE_SECRET_KEY="cw_jwtPrivateKey"

SECRET_ACCESS_TOKEN="devAccessTokenSecret"

PORT=3500
ENDPOINT=""
ENCRYPTION_KEY=""
DB_HOST_NAME=localhost
DB_USER_NAME=root
DB_NAME=tkxel-db
DB_PASSWORD=tkxel1234
DB_PORT=3308
CONNECTION_TIMEOUT=100
WAIT_FOR_CONNECTIONS=true
QUEUE_LIMIT=0

