groups:
- name: HostMonitoring
  rules:
  - alert: LowDiskSpace
    expr: (1 - (node_filesystem_avail_bytes{fstype!~"tmpfs|overlay"} / node_filesystem_size_bytes{fstype!~"tmpfs|overlay"})) * 100 > 40
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "Low disk space on {{ $labels.instance }}"
      description: 'Filesystem at {{ $labels.mountpoint }} is {{ printf "%.2f" $value }}% full.'
