version: '3'
services:
  # Jaeger: The UI to view your Traces
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686" # The UI port
      - "4318:4318"   # The OTLP Receiver port (HTTP)
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  # Prometheus: The database for your Metrics
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"