auth_enabled: false

server:
  http_listen_port: 3100

  log_level: info

ingester:
  wal:
    enabled: true
    dir: /loki/wal
  lifecycler:
    # Single-process mode
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s

storage_config:
  boltdb:
    directory: /loki/data

schema_config:
  configs:
  - from: 2020-10-15
    store: boltdb
    object_store: filesystem
    schema: v11
    index:
      prefix: index_
      period: 168h

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
