global:
  scrape_interval: 5s

scrape_configs:
- job_name: 'otel-collector'
  static_configs:
  # Docker networking: Prometheus talks to the 'otel-collector' service on port 8889
  - targets: [ 'otel-collector:8889' ]
