global:
  scrape_interval: 10s
  evaluation_interval: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets: [ "alertmanager:9093" ]

rule_files:
- alerts.yaml

scrape_configs:
- job_name: node_exporter
  static_configs:
  - targets: [ "node_exporter:9100" ]
